<section>
  <div class="container">
    <h2 class="title-benefits">
      <span class="title-span">Benefits</span> of working with me
    </h2>
    <ul class="items-benefits">
      <li class="list-benefits">
        <h3 class="list-title">Expertise</h3>
        <p class="list-text">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li class="list-benefits">
        <h3 class="list-title">Communication</h3>
        <p class="list-text">
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li class="list-benefits">
        <h3 class="list-title">Art</h3>
        <p class="list-text">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="list-benefits">
        <h3 class="list-title">Urgent execution</h3>
        <p class="list-text">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>
