<section class="faq-section">
  <div class="faq-container">
    <!-- Заголовок -->
    <div class="section-title">
      <h2 class="title-main">Frequently</h2>
      <h2 class="title-main">Asked</h2>
      <p class="title-sub">Question</p>
    </div>
    <!-- Секція нового контейнера -->

    <!-- <div class="custom-container">
      <svg
        width="536"
        height="422"
        viewBox="0 0 536 422"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_f_43_473)">
          <rect
            width="15.0406"
            height="15.0406"
            rx="1.48034"
            transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 104.945 217.158)"
            fill="#00B068"
          />
          <rect
            width="15.0406"
            height="15.0406"
            rx="1.48034"
            transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 235.939 23.2344)"
            fill="#00B068"
          />
          <rect
            width="22.5609"
            height="22.5609"
            rx="1.48034"
            transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 209.294 390.477)"
            fill="#00B068"
          />
          <rect
            width="22.5609"
            height="22.5609"
            rx="1.48034"
            transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 40.5352 263.168)"
            fill="#00B068"
          />
          <rect
            width="7.52029"
            height="7.52029"
            rx="1.48034"
            transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 216.695 123.777)"
            fill="#00B068"
          />
          <rect
            width="7.52029"
            height="7.52029"
            rx="1.48034"
            transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 7.96777 153.803)"
            fill="#00B068"
          />
          <rect
            width="7.52029"
            height="7.52029"
            rx="1.48034"
            transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 353.761 368.547)"
            fill="#00B068"
          />
          <rect
            width="7.52029"
            height="7.52029"
            rx="1.48034"
            transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 521.039 414.438)"
            fill="#00B068"
          />
          <rect
            width="15.0406"
            height="15.0406"
            rx="1.48034"
            transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 262.586 231.961)"
            fill="#00B068"
          />
          <rect
            width="7.52029"
            height="7.52029"
            rx="1.48034"
            transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 323.279 89.7305)"
            fill="#00B068"
          />
        </g>
        <defs>
          <filter
            id="filter0_f_43_473"
            x="-1.40169"
            y="-0.401686"
            width="540.803"
            height="422.803"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"
            />
            <feGaussianBlur
              stdDeviation="3.70084"
              result="effect1_foregroundBlur_43_473"
            />
          </filter>
        </defs>
      </svg>
    </div> -->
    <!-- FAQ список -->
    <ul class="faq-list" id="faqAccordion">
      <li class="ac">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger">
            What programming languages are most often used in your project?
          </button>
        </h3>
        <div class="ac-panel">
          <p>
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client-side) and backend (server-side) languages.
          </p>
        </div>
      </li>

      <li class="ac">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger">
            What are the deadlines for the project?
          </button>
        </h3>
        <div class="ac-panel">
          <p>
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger">
            What payment methods do you accept?
          </button>
        </h3>
        <div class="ac-panel">
          <p>
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="ac">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger">
            How can I contact you?
          </button>
        </h3>
        <div class="ac-panel">
          <p>
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client-side) and backend (server-side) languages.
          </p>
        </div>
      </li>

      <li class="ac">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger">
            Do you provide advice or support?
          </button>
        </h3>
        <div class="ac-panel">
          <p>
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger">
            What does the process of developing a software product look like?
          </button>
        </h3>
        <div class="ac-panel">
          <p>
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<script src="https://unpkg.com/accordion-js@3.3.4/dist/accordion.min.js"></script>
<script type="module" src="./main.js"></script>
