<section class="faq-section">
  <h2 class="faq-title">FREQUENTLY<br />ASKED<br />QUESTION</h2>
  <div class="accordion-wrapper">
    <ul class="accordion">
      <li class="accordion-item">
        <button
          class="accordion-header"
          aria-expanded="true"
          aria-controls="content-1"
        >
          <span
            >WHAT PROGRAMMING LANGUAGES ARE MOST OFTEN USED IN YOUR
            PROJECT?</span
          >

          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M18 15L12 9L6 15"
              stroke="#292929"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </button>
        <div class="accordion-content" id="content-1">
          <p>
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <button
          class="accordion-header"
          aria-expanded="false"
          aria-controls="content-2"
        >
          <span>WHAT ARE THE DEADLINES FOR THE PROJECT?</span>

          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M18 15L12 9L6 15"
              stroke="#292929"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </button>
        <div class="accordion-content" id="content-2">
          <p>
            The terms of project implementation depends to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <button
          class="accordion-header"
          aria-expanded="false"
          aria-controls="content-3"
        >
          <span>WHAT PAYMENT METHODS DO YOU ACCEPT?</span>

          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M18 15L12 9L6 15"
              stroke="#292929"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </button>
        <div class="accordion-content" id="content-3">
          <p>
            Payment through credit and debit cards such as Visa, Mastercard,
            specialized electronic payment systems such as PayPal, as well as
            cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <button
          class="accordion-header"
          aria-expanded="false"
          aria-controls="content-4"
        >
          <span>HOW CAN I CONTACT YOU?</span>

          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M18 15L12 9L6 15"
              stroke="#292929"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </button>
        <div class="accordion-content" id="content-4">
          <p>
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <button
          class="accordion-header"
          aria-expanded="false"
          aria-controls="content-5"
        >
          <span>DO YOU PROVIDE ADVICE OR SUPPORT?</span>

          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M18 15L12 9L6 15"
              stroke="#292929"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </button>
        <div class="accordion-content" id="content-5">
          <p>
            The terms of project implementation depends to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <button
          class="accordion-header"
          aria-expanded="false"
          aria-controls="content-6"
        >
          <span
            >WHAT DOES THE PROCESS OF DEVELOPING A SOFTWARE PRODUCT LOOK LIKE
            FROM IDEA TO IMPLEMENTATION?</span
          >

          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M18 15L12 9L6 15"
              stroke="#292929"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </button>
        <div class="accordion-content" id="content-6">
          <p>
            Payment through credit and debit cards such as Visa, Mastercard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
