<footer class="footer container">
  <div class="content-container">
    <h1 class="brand-title">LLOYD<span class="last-name">JEFFERSON.</span></h1>
    <ul class="social-links">
      <li>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Instagram</a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Facebook</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          >LinkedIn</a
        >
      </li>
      <li>
        <a href="https://github.com/" target="_blank" rel="noopener noreferrer"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
  <div class="footer-text">
    <p>© Copyright 2024. <span>Made by LloydJefferson</span></p>
  </div>
</footer>
