<section class="work-together">
  <div class="container">
    <h2 class="work-together_title">let’s <span>work together</span></h2>
    <div class="work-together-contacts contacts">
      <p class="contacts_desc">Contact me to transform your ideas into exceptional solutions.</p>
      <address class="contacts_address">
        <ul class="contacts_list">
          <li class="contacts_item">
            <a class="contacts_link" href="tel:+380904567890">
              <svg width="24" height="24" class="contacts_icon">
                <use xlink:href="../img/icons.svg#icon-mail"></use>
              </svg>
              <span class="contacts_text">+38 090 456 78 90</span>
            </a>
          </li>
          <li class="contacts_item">
            <a class="contacts_link" href="mailto:lloydjefferson@gmail.com">
              <svg width="24" height="24" class="contacts_icon">
                <use xlink:href="../img/icons.svg#icon-phone"></use>
              </svg>
              <span class="contacts_text">lloydjefferson@gmail.com</span>
            </a>
          </li>
          <li class="contacts_item">
            <a class="contacts_link" href="">
              <svg width="24" height="24" class="contacts_icon">
                <use xlink:href="../img/icons.svg#icon-location"></use>
              </svg>
              <span class="contacts_text">USA, New York</span>
            </a>
          </li>
        </ul>
      </address>
    </div>
    <div class="work-together_form">
      <form class="form">
        <label class="form_label">
          <input
            type="email"
            name="email"
            class="form_input"
            placeholder="Your email*"
          />
        </label>
        <label class="form_label">
          <input
            type="text"
            name="text"
            class="form_message"
            placeholder="Message"
          />
        </label>
        <button type="submit" class="form-btn">SEND MESSAGE</button>
      </form>
    </div>
  </div>
</section>
