<header class="header" id="header">
  <div class="page-header">
    <div class="container">
      <div class="menu-wrapper">
        <a class="header-link__logo" href="#">
          Lloyd<span class="logo--color-green">Jefferson.</span>
        </a>
        <button
          class="button__menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="menu__icon">
            <use href="../img/mobile_menu.svg#mobile-menu"></use>
          </svg>
        </button>
      </div>
      <div class="menu-container js-menu-container" id="mobile-menu">
        <div class="menu-wrapper">
          <label class="switch">
            <input type="checkbox" class="switch__input" />
            <span class="switch__slider"></span>
          </label>
          <div class="mobile-header">
            <!--       <a class="header-link__logo mobile-header" href="#">
                            Lloyd<span class="logo--color-green">Jefferson.</span>
                        </a> -->
            <button class="button__menu-toggle js-close-menu">
              <svg class="menu__icon">
                <use
                  href="../img/mobile_menu_close.svg#mobile-menu-close"
                ></use>
              </svg>
            </button>
          </div>
          <div class="mobile-wrapper">
            <nav class="navigation">
              <ul class="navigation__header list">
                <li class="navigation__header-item">
                  <a class="navigation__header-link link" href="#about-section"
                    >About me</a
                  >
                </li>
                <li class="navigation__header-item link">
                  <a class="navigation__header-link link" href="#projects"
                    >Projects</a
                  >
                </li>
                <li class="navigation__header-item link">
                  <a
                    class="navigation__header-link link"
                    href="../index.html#faq"
                    >Contacts</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
