<section class="header" id="header">
  <div class="container">
    <header class="page-header">
      <div class="menu-wrapper">
        <a class="header-link__logo" href="">
          Lloyd<span class="logo--color-green">Jefferson.</span>
        </a>
        <button
          class="button__menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="menu__icon">
            <use href="./img/mobile_menu.svg#mobile-menu"></use>
          </svg>
        </button>
      </div>
      <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu-close js-close-menu">
          <svg class="menu-close__icon">
            <use href="./img/mobile_menu.svg#icon-close"></use>
          </svg>
        </button>
        <div class="menu-wrapper">
          <label class="switch">
            <input type="checkbox" class="switch__input" />
            <span class="switch__slider"></span>
          </label>
          <nav class="navigation">
            <ul class="navigation__header list">
              <li class="navigation__header-item">
                <a class="navigation__header-link link" href="#aboutme"
                  >About me</a
                >
              </li>
              <li class="navigation__header-item">
                <a class="navigation__header-link link" href="#projects"
                  >Projects</a
                >
              </li>
              <li class="navigation__header-item">
                <a class="navigation__header-link link" href="#work-together"
                  >Contacts</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
</section>
