<!-- <p>header</p> -->
<section class="header" id="header">
    <div class="container">
        <header class="page-header">
            <div class="menu-wrapper">
                <a class="header-link__logo" href="">
                    Lloyd<span class="logo--color-green">Jefferson.</span>
                </a>
                <button class="button__menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                    <svg class="menu__icon">
                        <use href="../img/mobile_menu.svg#mobile-menu"></use>
                    </svg>
                </button>
            </div>
            <div class="menu-container js-menu-container" id="mobile-menu">
                <div class="menu-wrapper">
                    <label class="switch">
                        <input type="checkbox" class="switch__input">
                        <span class="switch__slider"></span>
                    </label>
                    <nav class="navigation">
                        <ul class="navigation__header list">
                            <li class="navigation__header-item">
                                <a class="navigation__header-link link" href="../index.html#section-aboutme">About
                                    me</a>
                            </li>
                            <li class="navigation__header-item link">
                                <a class="navigation__header-link link"
                                    href="../index.html#section-myprojects">Projects</a>
                            </li>
                            <li class="navigation__header-item link">
                                <a class="navigation__header-link link" href="./">Contacts</a>
                            </li>
                        </ul>

                    </nav>

                </div>
            </div>
        </header>
    </div>
</section>