<section class="section-hero">
  <div class="section-container container">
    <div class="section-hero-content">
      <div class="section-hero-text">
        <h1 class="section-hero-title">
          <span class="highlight">Hello, I am</span>
          <span class="highlight-green1">Fullstack developer</span>
        </h1>

        <a
          href="#work-together"
          class="hero-button-link"
          role="button"
          aria-label="Order the project"
          >Order the project</a
        >
      </div>

      <picture class="hero-img">
        <!-- Webp формати зображення -->
        <source
          srcset="
            ./img/hero/herodesk-1x.webp 1x,
            ./img/hero/herodesk-2x.webp 2x
          "
          type="image/webp"
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./img/hero/herotabl-1x.webp 1x,
            ./img/hero/herotabl-2x.webp 2x
          "
          type="image/webp"
          media="(min-width:768px)"
        />
        <source
          srcset="./img/hero/heromob-1x.webp 1x, ./img/hero/heromob-2x.webp 2x"
          type="image/webp"
          media="(max-width:767px)"
        />
        <!-- PNG формати зображення -->
        <source
          srcset="./img/hero/herodesk-1x.png 1x, ./img/hero/herodesk-2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="./img/hero/herotabl-1x.png 1x, ./img/hero/herotabl-2x.png 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./img/hero/heromob-1x.png 1x, ./img/hero/heromob-2x.png 2x"
          media="(max-width:767px)"
        />
        <!-- Зображення за замовчуванням (PNG) -->
        <img
          class="hero-dev-img"
          src="./img/hero/herodesk-1x.png"
          alt="Photo of a fullstack developer with a laptop in his hands"
          width="276px"
          height="416px"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
  <p class="hero-description">
    I work with people all over the world to create
    <span class="highlight-green2">impressive</span> and
    <span class="highlight-green2">functional</span>
    <span class="highlight-green2">websites</span> that reflect each client's
    unique personality.
  </p>
  <div class="description-container">
    <ul class="social-media-group">
      <li class="social-media-list">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="social-media-link"
          >Instagram</a
        >
      </li>
      <li class="social-media-list">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="social-media-link"
          >Facebook</a
        >
      </li>
      <li class="social-media-list">
        <a
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          target="_blank"
          class="social-media-link"
          >Linkedin</a
        >
      </li>
      <li class="social-media-list">
        <a
          href="https://github.com/DarkLordSith/Project_JS_G03"
          target="_blank"
          class="social-media-link"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
