
<section class="section-hero" id="section-hero">
  <div class="hero-background-image">
    <img class="hero-dots" srcset="./images/herodots@1x.png 1x, ./images/herodots@2x.png 2x"
      src="./images/herodots@1x.png" alt="Dots in the background">
  </div>
  <div class="section-container">
    <div class="section-hero-content">
      <div class="section-hero-text">
        <ul class="social-media-group">
          <li class="social-media-list"><a href="https://www.instagram.com/goitclub/" target="_blank"
              class="social-media-link">Instagram</a></li>
          <li class="social-media-list"><a href="https://www.facebook.com/goITclub/" target="_blank"
              class="social-media-link">Facebook</a></li>
          <li class="social-media-list"><a href="https://www.linkedin.com/school/goit-start-your-career-in-it"
              target="_blank" class="social-media-link">Linkedin</a></li>
          <li class="social-media-list"><a href="https://github.com/DarkLordSith/Project_JS_G03" target="_blank"
              class="social-media-link">GitHub</a></li>
        </ul>
        <h1 class="section-hero-title">
          <span class="highlight">Hello, I am</span> <span class="highlight-green1">Fullstack developer</span>
        </h1>
        <a href="#section-lets-work-together" class="hero-button-link">Order the project</a>

      </div>
      <div class="hero-img">
        <picture>
          <source srcset="./images/herodesk-1x.png 1x, ./images/herodesk-2x.png 2x" media="(min-width:1280px)">
          <source srcset="./images/herotabl-1x.png 1x, ./images/herotabl-2x.png 2x" media="(min-width:768px)">
          <source srcset="./images/heromob-1x.png 1x, ./images/heromob-2x.png 2x" media="(max-width:767px)">
          <img class="hero-dev-img" src="./images/herodesk-1x.png" width="488" height="788" alt="Developer photo">
        </picture>
      </div>
    </div>
    <div class="description-container">
      <p class="hero-description">
        I work with people all over the world to create
        <span class="highlight-green2">impressive</span> and
        <span class="highlight-green2">functional</span>
        <span class="highlight-green2">websites</span> that reflect each client's unique personality.
      </p>
    </div>
  </div>
</section>
