<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container container">
    <div class="logo-container">
      <a class="mobile-menu-logo" href="../index.html">
        Lloyd<span class="logo-color-green">Jefferson.</span>
      </a>
      <button class="mobile-menu-close js-close-menu" data-menu-close>
        <svg class="menu-close-icon" width="18" height="18">
          <use href="../img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a href="#aboutme" class="mobile-menu-link">About me</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#projects" class="mobile-menu-link">Projects</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#work-together" class="mobile-menu-link">Contacts</a>
        </li>
      </ul>
    </nav>
    </div>
  </div>
</div>
