<section class="reviews">
  <div class="container reviews-container">
    <h2 class="article-reviews">Reviews</h2>

    <div class="reviews-slider">
      <ul class="reviews-list"></ul>

      <button class="slider-button slider-button-prev">
        <svg class="icon-button-swipe left-arrow" height="24px" width="24px">
          <use href="../img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>

      <button class="slider-button slider-button-next">
        <svg class="icon-button-swipe" height="24px" width="24px">
          <use href="../img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- <script src="../js/reviews.js" type="module"></script> -->
</section>
