<section class="tech-skills-section">
    <div class="tech-container container">
        <h2 class="tech-skills-title visually-hidden">My tech skills</h2>

        <div class="marquee marquee-1">
            <div class="marquee__inner">
              <p class="marquee__line line-1">Html/Css <span class="marquee-span">·</span> Javascript <span class="marquee-span">·</span> React <span class="marquee-span">·</span> Node.js <span class="marquee-span">·</span> React Native <span class="marquee-span">·</span> Typescript <span class="marquee-span">·</span></p>
              <p class="marquee__line line-1">Html/Css <span class="marquee-span">·</span> Javascript <span class="marquee-span">·</span> React <span class="marquee-span">·</span> Node.js <span class="marquee-span">·</span> React Native <span class="marquee-span">·</span> Typescript <span class="marquee-span">·</span></p>
            </div>
        </div>
        
          <div class="marquee marquee-2">
            <div class="marquee__inner">
                <p class="marquee__line line-2">Html/Css <span class="marquee-2-span">·</span> Javascript <span class="marquee-2-span">·</span> React <span class="marquee-2-span">·</span> Node.js <span class="marquee-2-span">·</span> React Native <span class="marquee-2-span">·</span> Typescript <span class="marquee-2-span">·</span></p>
              <p class="marquee__line line-2">Html/Css <span class="marquee-2-span">·</span> Javascript <span class="marquee-2-span">·</span> React <span class="marquee-2-span">·</span> Node.js <span class="marquee-2-span">·</span> React Native <span class="marquee-2-span">·</span> Typescript <span class="marquee-2-span">·</span></p>
            </div>
          </div>
    </div>
</section>