.section-title {
  font-family: var(--font-heading);
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  color: var(--color-primary);
  margin-bottom: 40px;
}

.title-accent {
  color: var(--color-accent);
}

.about-me-img {
  border-radius: 16px;
  width: 320px;
  height: 374px;
  box-shadow: var(--box-shadow);
  margin-bottom: 40px;
}

.about-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 32px;
}

.about-me-text {
  font-weight: 300;
  color: var(--color-primary);

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.dark-mode .about-me-text {
  color: var(--color-text-dark);
}

.bio {
  margin-bottom: 40px;
}

.description-list-item::marker {
  color: var(--color-accent);
}

.description-list-item {
  font-family: var(--font-main);
  color: var(--color-primary);
  padding-right: 10px;
  list-style-type: disc;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.education {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about-container {
    background-image: url(/img/about-me/group-67-tab-2x.avif);
    background-repeat: no-repeat;
    background-position: left 400px top 844px;
    background-size: 336px 264px;
  }

  .about-wrapper {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .img-wrapper {
    display: flex;
    align-items: end;
  }

  .about-me-img {
    margin-top: 368px;
    width: 336px;
    height: 392px;
    margin-bottom: 0;
  }

  .bio {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0;
    width: 336px;
    height: 680px;
  }

  .about-title {
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }

  .description {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 60px;
  }

  .education {
    display: flex;
    flex-direction: column;
  }

  .role {
    display: flex;
    flex-direction: column;
  }

  .description-list-item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .education {
    width: 336px;

    margin-bottom: 0;
  }

  .role {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .about-container {
    background-image: url(/img/about-me/group-67-desktop-2x.avif);
    background-repeat: no-repeat;
    background-position: right 32px top 692px;
    background-size: 364px 288px;
  }

  .about-wrapper {
    gap: 136px;
    justify-content: flex-end;
  }

  .about-me-img {
    margin-top: 272px;
    width: 384px;
    height: 448px;
  }

  .bio {
    width: 488px;
    height: 488px;
  }

  .description {
    gap: 136px;
    margin-top: 80px;
    justify-content: flex-end;
  }

  .description-list-item {
    padding-right: 15px;
  }

  .education {
    width: 384px;
  }

  .role {
    width: 488px;
  }
}
