/* ______________NEW-COMMON______________ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Impact';
  src: url('/fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #292929; /* Основной цвет текста */
  --color-accent: #00b068; /* Акцентный цвет */
  --color-bg-light: #f0f0f0; /* Светлый фон */
  --color-bg-accent: #bcdfd1; /* Акцентный фон */
  --color-light-grey: #e4e5e6;
  --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* Стандартная тень */
  --border-radius: 16px; /* Радиус скругления */
  --font-main: 'Poppins', sans-serif;
  --font-heading: 'Impact', sans-serif;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* Общие стили для body и элементов */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
}


body {
  font-family: var(--font-main);
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: var(--color-bg-light);
  scrollbar-width: thin;
    scrollbar-color: #c5c5c5 white;
}
body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 10px;
  border: 3px solid white;

}

body::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #9c9c9c;
}

/* Заголовки */
h1,
h2 {
  font-family: var(--font-heading);
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 400;
}

h1 {
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

h2 {
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
}

/* Стили для текстов */
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p:last-child {
  margin-bottom: 0;
}

.text-accent {
  color: var(--color-accent);
}

.text-uppercase {
  text-transform: uppercase;
}

/* Скрытые элементы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стили для ссылок */
a {
  color: inherit;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Кнопки */
button {
  border: none;
  cursor: pointer;
  font: inherit;
}

/* Изображения */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Контейнер */
.container {
  min-width: 320px;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Фавиконки */
.favicon {
  width: 52px;
}

/* Медиазапросы для адаптивности */
@media screen and (min-width: 768px) {
  section {
    padding: 62px 0;
  }

  h1 {
    font-size: 136px;
    line-height: 1.147;
    letter-spacing: 0.01em;
  }

  h2 {
    font-size: 108px;
    line-height: 1.148;
    letter-spacing: 0.02em;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .favicon {
    width: 74px;
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding: 82px 0;
  }

  .container {
    max-width: 1280px;
  }
}

/* _____________DARK-THEM_____________ */
:root {
  --color-bg-dark: #1e2023; /* Тёмный фон */
  --color-text-dark: #f0f0f0; /* Тёмный текст */
  --color-accent-dark: #14c57c; /* Акцентный цвет для тёмной темы */
  --color-button-dark: #009156;
  --color-bg-accent-dark: #204136; /* Акцентный фон для тёмной темы */
  --color-charcoal-dark: #2a2d32;
  --color-icon-dark: #f0f0f0; /* Цвет иконок для тёмной темы */
}

/* Тёмная тема */
body.dark-mode {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

body.dark-mode .nav-link {
  color: var(--color-text-dark);
}

body.dark-mode .switch__slider {
  background-color: var(--color-bg-dark);
}

body.dark-mode .modal-btn svg {
  fill: var(--color-icon-dark);
}

/* Стили для тёмной темы при переключении */
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode li {
  color: var(--color-text-dark);
}

li::marker {
  color: var(--color-accent-dark);
}
