/* Footer styles */
.footer {
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #e4e5e6;
}
.dark-mode .footer {
  border-top: 1px solid var(--color-text-dark);
}

.footer .content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-top: 40px;
}

.footer .brand-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 32px;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.footer .brand-title .last-name {
  color: #00b068;
}

.footer .social-links {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  list-style: none;
  padding: 0;
  width: 100%;
  margin-bottom: 0;
}

.footer .social-links li {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.footer .social-links a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  color: var(--color-primary);
}
.dark-mode .footer .social-links a {
  color: var(--color-text-dark);
}
.footer .social-links a:hover,
.footer .social-links a:focus {
  color: var(--color-accent);
}
.dark-mode .footer .social-links a:hover,
.dark-mode .footer .social-links a:focus {
  color: var(--color-accent-dark);
}

.footer .footer-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--color-primary);
  text-align: center;
  padding-bottom: 24px;
  padding-top: 40px;
}
.dark-mode .footer .footer-text {
  color: var(--color-text-dark);
}

.footer .footer-text p {
  margin: 0;
}

.footer .footer-text span {
  display: inline;
}

/* Мобільна версія */
@media screen and (max-width: 767px) {
  .footer .content-container {
    width: 296px;
  }

  .footer .footer-text {
    text-align: center;
    max-width: 200px;
  }
}

/* Планшетна версія */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer .content-container {
    width: 704px;
  }

  .footer .social-links {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .footer .footer-text {
    width: 100%;
    text-align: right;
  }
}

/* Комп'ютерна версія */
@media screen and (min-width: 1280px) {
  .footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .content-container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .footer .social-links {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: flex-end;
  }

  .footer .footer-text {
    width: 1200px;
    text-align: right;
  }

  .footer .footer-text span {
    display: inline;
  }
}
