.header-link__logo {
  font-family: Impact, sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #292929;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo--color-green {
  color: #00b068;
}

.button__menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.menu__icon {
  width: 32px;
  height: 32px;
  fill: currentColor;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767.98px) {
  .menu-wrapper {
    flex-direction: wrap;
    flex-basis: 100%;
    height: 100%;
  }
  .navigation__header {
    display: none;
  }
}

@media screen and (min-width: 767.98px) {
  .button__menu-toggle {
    display: none;
  }
  .navigation__header {
    display: flex;
  }
  .navigation__header-item:not(:last-child) {
    margin-right: 40px;
  }
  .page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-header__logo {
    display: none;
  }
}

/* SWITCH */
.switch {
  display: flex;
  position: relative;
  width: 48px;
  height: 24px;
  margin-right: 40px;
}

@media (max-width: 1279.98px) {
  .switch {
    display: none;
  }
}

.switch__input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 16px;
  background-color: #e4e5e6;
  transition: 0.4s;
}

.switch__slider::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00b068;
  transition: 0.4s;
}

.switch__input:checked + .switch__slider {
  background-color: #292929;
}

.switch__input:checked + .switch__slider::before {
  transform: translateX(20px);
}

/* MOBILE MENU */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__header-link {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #292929;
  text-decoration: none;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .navigation {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px 15px;
    background: #f0f0f0 url('../img/bg_mobile_menu.png') no-repeat top;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-container .button__menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .navigation__header {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 15px;
  }
  .navigation__header-item {
    text-align: center;
  }

  .navigation__header-link {
    font-size: 18px;
    color: #292929;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s;
  }

  .navigation__header-link:hover {
    background-color: #00b068;
    color: #ffffff;
    border-radius: 5px;
  }
  .menu-wrapper .navigation__header {
    justify-content: space-between;
  }
  .mobile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}
