/*HERO - MOBILE CSS*/

.section-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../img/hero/herodotsmob@1x.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  position: relative;
}

.hero-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-main {
    background-image: url(../img/hero/herodotsmob@2x.png);
  }
}

@supports (
  background-image:
    image-set(
      url(../img/hero/herodotsmob@1x.png) 1x,
      url(../img/hero/herodotsmob@2x.png) 2x
    )
) {
  .section-main {
    background-image: image-set(
      url(../img/hero/herodotsmob@1x.webp) 1x,
      url(../img/hero/herodotsmob@2x.webp) 2x
    );
  }
}

.section-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center;
}

.section-hero-content {
  display: block;
  align-items: center;
}

.section-hero-text {
  text-align: center;
}

.section-hero-title {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: var(--color-bg-light);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.dark-mode .section-hero-title {
  color: var(--color-bg-dark);
}

.highlight {
  color: var(--color-primary);
}
.dark-mode .highlight {
  color: var(--color-text-dark);
}

.highlight-green1 {
  color: var(--color-accent);
}
.dark-mode .highlight-green1 {
  color: var(--color-accent-dark);
}

.highlight-green2 {
  color: var(--color-accent);
}
.dark-mode .highlight-green2 {
  color: var(--color-accent-dark);
}

.hero-button-link {
  align-items: center;
  display: block;
  background-color: var(--color-bg-accent);
  border: none;
  border-radius: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary);
  transition: all 0.6s ease;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  position: absolute;
  left: 15%;
  top: 90%;
  transform: translateY(-50%);
  width: 240px;
  height: 100px;
  padding: 37px 24px;
}
.dark-mode .hero-button-link {
  color: var(--color-text-dark);
  background-color: var(--color-button-dark);
}

.hero-button-link:hover {
  background-color: var(--color-accent);
  box-shadow: 0 0 1.6rem #009156;
}
.dark-mode .hero-button-link:hover {
  background-color: var(--color-accent-dark);
}

.hero-img {
  max-width: 100%;
  height: auto;
}

.description-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-light-grey);
  width: 100%;
}
.dark-mode .description-container {
  background-color: var(--color-charcoal-dark);
}

.hero-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-bg-dark);
  padding: 32px 20px;
  background-color: var(--color-bg-light);
}
.dark-mode .hero-description {
  color: var(--color-text-dark);
  background-color: var(--color-bg-dark);
}

.social-media-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-media-group a {
  color: var(--color-primary);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.dark-mode .social-media-group a {
  color: var(--color-text-dark);
}

.social-media-group a:hover {
  color: var(--color-accent);
}
.dark-mode .social-media-group a:hover {
  color: var(--color-accent-dark);
}

/*HERO - TABLET CSS*/

@media screen and (min-width: 768px) {
  .section-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../img/hero/herodotstabl@1x.png);
    background-position: top;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-main {
      background-image: url(../img/hero/herodotstabl@2x.png);
    }
  }

  @supports (
    background-image:
      image-set(
        url(../img/hero/herodotstabl@1x.png) 1x,
        url(../img/hero/herodotstabl@2x.png) 2x
      )
  ) {
    .section-main {
      background-image: image-set(
        url(../img/hero/herodotstabl@1x.webp) 1x,
        url(../img/hero/herodotstabl@2x.webp) 2x
      );
    }
  }

  .hero-dots {
    width: 704px;
    height: 896px;
  }

  .section-container {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .section-hero-text {
    text-align: left;
  }

  .social-media-group {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    gap: 40px;
  }

  .social-media-group a {
    font-size: 16px;
    letter-spacing: 0.01em;
  }

  .section-hero-title {
    font-size: 124px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    text-align: left;
    padding-bottom: 50px;
  }

  .hero-button-link {
    position: absolute;
    transform: translateY(-50%);
  }

  .hero-img img {
    width: 100%;
    height: auto;
    padding-left: 250px;
  }

  .description-container {
    display: flex;
    justify-content: center;
  }

  .hero-description {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    padding: 64px 32px;
  }
}

/*HERO - DESKTOP CSS*/

@media screen and (min-width: 1280px) {
  .section-hero {
    background-image: url(../img/hero/herodots@1x.png);
    background-size: auto;
    background-position: top right;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-main {
      background-image: url(../img/hero/herodots@2x.png);
    }
  }

  @supports (
    background-image:
      image-set(
        url(../img/hero/herodots@1x.png) 1x,
        url(../img/hero/herodots@2x.png) 2x
      )
  ) {
    .section-main {
      background-image: image-set(
        url(../img/hero/herodots@1x.webp) 1x,
        url(../img/hero/herodots@2x.webp) 2x
      );
    }
  }

  .hero-dots {
    width: 811px;
    height: 823px;
    align-items: right;
  }

  .section-hero-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  .section-hero-title {
    font-size: 136px;
  }

  .hero-img img {
    width: 488px;
    height: 788px;
    padding-left: 0;
  }
  .hero-description {
    padding: 120px 136px;
  }
}
