body.no-scroll {
  overflow: hidden;
}

.mobile-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  background: var(--color-bg-light) url('../img/bg_mobile_menu.png') no-repeat
    center 75%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.dark-mode .mobile-menu {
  background-color: var(--color-bg-dark);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  min-height: 42px;
  margin-bottom: auto;
}

@media screen and (max-height: 587px) {
  .logo-container {
    margin-bottom: auto;
  }
}

.mobile-menu-logo {
  font-family: Impact, sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--color-primary);
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dark-mode .mobile-menu-logo {
  color: var(--color-text-dark);
}
.logo-color-green {
  color: var(--color-accent);
}
.dark-mode .logo-color-green {
  color: var(--color-accent-dark);
}

.mobile-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: none;
  background: none;
  stroke: var(--color-primary);
}
.dark-mode .mobile-menu-close {
  stroke: var(--color-text-dark);
}

.menu-close-icon {
  width: 32px;
  height: 32px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 24px;
}

.mobile-menu-item {
  height: 40px;
}

.mobile-menu-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--color-primary);
  display: block;
  text-align: center;
  padding: 20px 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dark-mode .mobile-menu-link {
  color: var(--color-text-dark);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--color-accent);
}
.dark-mode .mobile-menu-link:hover,
.dark-mode .mobile-menu-link:focus {
  color: var(--color-accent-dark);
}
