.reviews-container{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

.article-reviews{
font-weight: 400;
    font-size: 52px;
    line-height: 1.23077;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
}

.containers-butonns{
    display: flex;
    gap: 14px;
}

.slider-button{
    background: transparent;
        border: 1px solid #292929;
        cursor: pointer;
        border-radius: 8px;
        width: 40px;
        height: 40px;
}

.left-arrow{
    transform: rotate(-180deg)
}

.icon-button-swipe{
    fill: none;
    stroke: #292929;
}

/* --0------------------------------------------ */
.reviews-slider {
        display: flex;
        gap: 24px 16px;
            width: 90%;
            max-width: 800px;
            overflow: hidden;
            position: relative;
            margin: 0 auto;
            flex-direction: row;
            justify-content: flex-end;
            flex-wrap: wrap;
}

.reviews-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    width: 100%;
}

.review-item {
    flex: 1 1 calc(100% - 20px);
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    background-color: #e4e5e6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 34px;
    transition: all 0.3s ease;
}

.review-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.avatar-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.name-author {
    font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: #292929;
}

.author-feedback {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: #292929;
}

.slider-button.disabled {
    border: 1px solid #e4e5e6;
    cursor: not-allowed;
}


@media (min-width: 768px) {
    .review-item {
        flex: 1 1 calc(100% - 20px);
        
    }
}

@media (min-width: 1280px) {
    .review-item {
        flex: 1 1 calc(50% - 20px);
        
    }
}
/* ----------------------------------------- */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

        .article-reviews{
            font-weight: 400;
                font-size: 108px;
                line-height: 1.14815;
                letter-spacing: 0.02em;
        }

}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

        .slider-button{
            width: 48px;
                height: 48px;
        }
}

