

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.marquee-span {
    color: #00b068;
}

.marquee-2-span {
    color:black;
}

.marquee {
  
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  
}

.marquee-1 {
  background-color: #bcdfd1;
    color: #292929;
    
}

.marquee-2 {
  background-color: #e4e5e6;
    color: #00b068;
    transform: rotate(2deg);
}

.marquee__inner {
  display: flex;
}

.marquee__line {
  flex-shrink: 0;
  margin: 0;
  padding: 32px 15px 32px 0px;
  min-width: 50%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}


@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  
  }


  @media screen and (min-width: 1280px) {
   
  }
 